# Panasonic Aquarea Entities - By Type

## `sensor`

| Name | Heishamon ID | Unit | Device Class | Icon | State Class | Example |
|------|--------------|------|--------------|------|-------------|---------|
{%- for id, desc in get_platform(platforms, 'sensor')._descriptors | items %}
| {{ desc.name }} | `{{ desc._id_field_name() | upper }}{{ id | format_id }}` | {{ desc.effective_unit }} | {{ desc.device_class or '—' }} | {{ desc.icon }} | {{ desc.effective_state_class }} | <pre lang="yaml"><code>sensor:&#13;  - platform: panasonic_aquarea&#13;    top: {{ id | format_id }}</code></pre> |
{%- endfor %}

## `number`

| Name | Heishamon ID | Device Class | Min | Max | Entity Category | Example |
|------|--------------|--------------|-----|-----|-----------------|---------|
{%- for id, desc in get_platform(platforms, 'number')._descriptors | items %}
| {{ desc.name }} | `{{ desc._id_field_name() | upper }}{{ id | format_id }}` | {{ desc.device_class }} | {{ desc.min }} | {{ desc.max }} | {{ desc.entity_category }} | <pre lang="yaml"><code>number:&#13;  - platform: panasonic_aquarea&#13;    set: {{ id | format_id }}</code></pre> |
{%- endfor %}

## `select`

| Name | Heishamon ID | Icon | Options | Example |
|------|--------------|------|---------|---------|
{%- for id, desc in get_platform(platforms, 'select')._descriptors | items %}
| {{ desc.name }} | `{{ desc._id_field_name() | upper }}{{ id | format_id }}` | {{ desc.icon }} | <ul>{% for opt in desc.options | sort %}<li>{{ opt }}</li>{% endfor %}</ul> | <pre lang="yaml"><code>select:&#13;  - platform: panasonic_aquarea&#13;    set: {{ id | format_id }}</code></pre> |
{%- endfor %}

## `binary_sensor`

| Name | Heishamon ID | Device Class | Example |
|------|--------------|--------------|---------|
{%- for id, desc in get_platform(platforms, 'binary_sensor')._descriptors | items %}
| {{ desc.name }} | `{{ desc._id_field_name() | upper }}{{ id | format_id }}` | {{ desc.device_class }} | <pre lang="yaml"><code>binary_sensor:&#13;  - platform: panasonic_aquarea&#13;    top: {{ id | format_id }}</code></pre> |
{%- endfor %}

## `text_sensor`

| Name | Heishamon ID | Icon | Options | Example |
|------|--------------|------|---------|---------|
{%- for id, desc in get_platform(platforms, 'text_sensor')._descriptors | items %}
| {{ desc.name }} | `{{ desc._id_field_name() | upper }}{{ id | format_id }}` | {{ desc.icon }} | {% if desc.options %}<ul>{% for opt in desc.options | sort %}<li>{{ opt }}</li>{% endfor %}</ul>{% else %}—{% endif %} | <pre lang="yaml"><code>text_sensor:&#13;  - platform: panasonic_aquarea&#13;    top: {{ id | format_id }}</code></pre> |
{%- endfor %}

## `button`

| Name | Heishamon ID | Example |
|------|--------------|---------|
{%- for id, desc in get_platform(platforms, 'button')._descriptors | items %}
| {{ desc.name }} | `{{ desc._id_field_name() | upper }}{{ id | format_id }}` | <pre lang="yaml"><code>button:&#13;  - platform: panasonic_aquarea&#13;    set: {{ id | format_id }}</code></pre> |
{%- endfor %}

## `switch`

| Name | Heishamon ID | Example |
|------|--------------|---------|
{%- for id, desc in get_platform(platforms, 'switch')._descriptors | items %}
| {{ desc.name }} | `{{ desc._id_field_name() | upper }}{{ id | format_id }}` | <pre lang="yaml"><code>switch:&#13;  - platform: panasonic_aquarea&#13;    set: {{ id | format_id }}</code></pre> |
{%- endfor %}